body {
    margin: 0;
    font-family: 'Langar', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "cursive";
    letter-spacing: 3px;
}

/*  Top Navigation Start  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #291f0e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #745318;
}

.active {
    background-color: #745318;
}

header {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}

.textOnImage {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.b1 {
    position: absolute;
    bottom: 35%;
    left: 50%;
    background-color: #fbb341;
    border: none;
    color: black;
    padding: 15px 50px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.downIcon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 15px 40px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

/* Feature */
.feature1 {
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
}

.textOnImage2 {
    position: absolute;
    top: 100%;
    left: 15%;
    color: white;
    background: rgba(251, 180, 65, 0.678);
    width: 150px;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.console{
    position: absolute;
    top: 85%;
    margin: 20px 30px 0 0;
    width: 200px;
    object-fit: contain;
    align-self: flex-start;
    right: 20%;
}

/* Feature 2*/
.textOnImage3 {
    position: absolute;
    top: 150%;
    left: 85%;
    color: white;
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.textOnImage3>ul>li {
    color: #fbb341;
}

.textOnImage3>ul>p {
    font-size: x-small;
}

/* System Requirement */
.systemRequirement {
    position: relative;
    max-width: 100%;
    margin: 10px auto;
}

.textOnImage4 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px 15px;
    margin-left: 10px;
    transform: translate(-50%, -50%);
    line-height: 5px;

}

.textOnImage4>h3 {
    color: #fbb341;

}

/* Topscore */
.topScore {
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
    background-color: black;
    height: 500px;
    width: 100%;
    color: white;
}

.parag {
    position: absolute;
    width: 250px;
    height: 50%;
    margin-top: 15%;
    margin-left: 20px;
    color: white;

}

.b2 {
    position: absolute;
    top: 80%;
    left: 50%;
    background-color: #fbb341;
    border: none;
    color: black;
    padding: 15px 50px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.testimoni {
    position: absolute;
    top: 120px;
    right: 0;
    width: 350px;
    border: 3px solid #fbb341;
    margin: -10px 20px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 15px;
}

.img123 span img {
    border-radius: 50%;
    border: 2px solid yellow;
    float: left;
}


